<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/1.style.login.css">  -->
    <title>Iniciar Sesion</title>
</head>
<body>
    <div class="contenedor">
        
        <h1 class="titulo"> Iniciar Sesion </h1>
        <br>

        <form action="" class="formulario">
            
            <div>
                <input type="text" name="usuario" required="required">
                <label for="">Usuario:</label>
            </div>

            <div>
                <input type="password" name="password" required="required">
                <label for="">Contraseña:</label>
            </div>
        
            <input type="submit" class="submit-btn" name="Iniciar Sesión">
            
        </form>


        <p class="texto-registrate">
            <a href="#">¿Olvidaste tú contraseña?</a>
            <br><br><br>

            ¿Aún no tienes cuenta?
            <a href="registrate.php"> Registrate</a>
        </p>

    </div>
</body>
</html>