<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/1.style.login.css">
    <title>Iniciar Sesion</title>
</head>
<body>
    <div class="contenedor">
        
        <h1 class="titulo"> Iniciar Sesion </h1>
        <br>

        <!--- <form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" name="login"></form> -->
        <form class="formulario" mathod="POST">
            
            <div class="entrada">
                <input type="text" name="usuario" autocomplete="off" required="required">
                <label for="">Usuario:</label>
            </div>

            <div class="entrada">
                <input type="password" name="password" required="required">
                <label for="">Contraseña:</label>
            </div>

            <label class="error">Introduce los datos correctamente</label><br>
        
            <input type="submit" class="submit-btn" name="Iniciar Sesión">
            
        </form>

        <p>
            <a href="olvidar.php" class="link">¿Olvidaste tú contraseña?</a>
            <br><br><br>

            ¿Aún no tienes cuenta?
            <a href="registrate.php" class="link"> Registrate</a>
        </p>

    </div>
</body>
</html>